@mixin size($height: auto, $width: auto) {
    height: $height;
    width: $width;
}

@mixin pos($position, $top: auto, $right: auto, $bottom: auto, $left: auto) {
    bottom: $bottom;
    left: $left;
    position: $position;
    right: $right;
    top: $top;
}

@mixin flex($direction: row, $align: center, $justify: center) {
    align-items: $align;
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
}

@mixin grid($rows, $columns) {
    display: grid;
    grid-template-columns: $columns;
    grid-template-rows: $rows;
}

@mixin neumorph() {
    background: #191919;
    border-radius: 0.1rem;
    box-shadow: 5px 5px 10px #151515,
    -5px -5px 10px #1d1d1d;
}

// MEDIA QUERIES
@mixin for-big-phone {
    @media (min-width: 576px) {
        @content;
    }
}

@mixin for-tablet {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin for-desktop {
    @media (min-width: 992px) {
        @content;
    }
}

@mixin for-big-desktop {
    @media (min-width: 1200px) {
        @content;
    }
}