#preloader {
    color: white;
    position: relative;
}

/* ------------------------------ */
.page-content {
    animation: fadeIn100 1s;
    display: none;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin: 0 auto;
}

#info-me {
    margin-left: 10%;
    width: max-content;
    z-index: 998;

    p {
        text-shadow: 0 1px #191919;
    }
}

#name {
    font-family: "Atami Stencil";
    font-size: 2.5rem;
    font-weight: bold;

    &::after {
        background-color: red;
        border-radius: 0.1rem;
        content: "";
        display: block;
        height: 6px;
        margin: 1rem 0 1.5rem 0;
        width: 6rem;
    }
}

#occupation {
    font-weight: normal;
}

#description {
    margin-top: 5rem;
    position: absolute;
    // width: 30rem;
}

#profile-pic {
    animation: fadeIn20 5s forwards ease-in-out;
    background-attachment: fixed;
    background-image: url("/img/pham.png");
    background-position: 75% center;
    background-repeat: no-repeat;
    background-size: contain;
    clip-path: polygon(100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
    height: 100%;
    mix-blend-mode: overlay;
    position: absolute;
    width: 100%;
}

#scroll-indicator {
    animation: fadeIn25 1s forwards;
    border: 0.15rem solid white;
    border-radius: 1rem;
    bottom: 3rem;
    cursor: pointer;
    display: flex;
    height: 2.5rem;
    justify-content: center;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 1.5rem;
    z-index: 998;
}

#scroll-wheel {
    animation: scrollIndicator 2.5s infinite;
    background-color: white;
    border-radius: 50%;
    height: 0.5rem;
    width: 0.5rem;
}