.page-content {
    animation: fadeIn100 1s;
    display: none;
    margin: 0 15px;
    position: relative;
    z-index: 2;

    @include flex(column, $justify-content: center);

    @include for-desktop {
        align-items: flex-start;
        margin: 0 auto;
        max-width: 1140px;
    }

    @include size(100%);
}

#home {
    color: white;
    position: relative;
}

#info-me {
    width: 100%;

    p {
        text-shadow: 0 1px #191919;
    }

    @include flex(column, center);

    @include for-desktop {
        align-items: flex-start;
        margin-left: 10%;
        width: max-content;
    }

    @include pos(absolute, $bottom: 25%);
}

#name {
    font-family: "Atami Stencil";
    font-size: 2.5rem;
    font-weight: bold;

    &::after {
        background-color: $red;
        border-radius: 0.1rem;
        content: "";
        display: block;
        margin: 1rem auto 1.5rem auto;

        @include for-desktop {
            margin: 1rem 0 1.5rem 0;
        }

        @include size(6px, 6rem);
    }

    @include for-desktop {
        font-size: 5rem;
    }
}

#occupation {
    font-weight: normal;
}

#description {
    display: flex;
    margin-top: 5rem;
    width: 100%;

    p {
        width: max-content;
    }

    @include flex(column, center);

    @include for-desktop {
        align-items: flex-start;
    }
}

#social-media {
    margin-top: 1.5rem;
    width: max-content;

    span {
        align-items: center;
        display: inline-flex;
        margin-right: 0.5rem;
        transition: all 0.25s;

        @include for-desktop {
            opacity: 0.25;

            &:hover {
                opacity: 1;
            }
        }
    }
}

#profile-pic {
    background-attachment: fixed;
    background-image: url("/img/pham.png");
    background-position: 60% center;
    background-repeat: no-repeat;
    background-size: contain;
    clip-path: polygon(100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
    filter: brightness(50%);
    opacity: 0.1;
    position: absolute;
    z-index: -1;

    @include size(100%, 100%);
}

#scroll-indicator {
    animation: fadeIn25 1s forwards;
    border: 0.15rem solid white;
    border-radius: 1rem;
    cursor: pointer;
    transform: translateX(-50%);

    @include flex($align-items: flex-start, $justify-content: center);
    @include pos(absolute, $bottom: 3rem, $left: 50%);
    @include size(2.5rem, 1.5rem);
}

#scroll-wheel {
    animation: scrollIndicator 2.5s infinite;
    background-color: white;
    border-radius: 50%;

    @include size(0.5rem, 0.5rem);
}

/* -------------------- */

#about-content {
    div {
        &#text-me {
            // width: 30%;

            &::after {
                background-color: $red;
                content: "";
                width: 6px;

                @include size(100%);
            }
        }

        &#skills {
            // width: 60%; 
        }
    }

    @include flex(column, center, space-between);

    @include for-desktop {
        div {
            &#text-me {
                width: 30%;

                &::after {
                    background-color: $red;
                    content: "";
                    width: 6px;

                    @include size(100%);
                }
            }

            &#skills {
                width: 60%;
            }
        }

        @include flex(row, center, space-between);
    }
}

#summary-me {
    span {
        // color: red;

        &:first-child {
            &::after {
                content: " / ";
            }
        }
    }
}

#about-me {
    margin: 1rem 0;
}

/* -------------------- */
// https://www.youtube.com/watch?v=a7ICxQblYrM
#projects {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;

    li {
        flex-shrink: 0;
        scroll-snap-align: start;

        div {
            display: none;
        }

        &#slide-1 {
            background: url("/img/game1.jpg");
            background-position: center;
            background-size: cover;
        }

        &#slide-2 {
            background: url("/img/game2.jpg");
            background-position: center;
            background-size: cover;
        }

        &#slide-3 {
            background: url("/img/game3.jpg");
            background-position: center;
            background-size: cover;
        }

        &#slide-4 {
            background: url("/img/game4.jpg");
            background-position: center;
            background-size: cover;
        }

        @include size(100%, 100%);
    }

    @include for-desktop() {
        position: absolute;
        width: 100%;

        &:hover {
            li {
                flex: 1 1 13.33%;
            }
        }

        li {
            div {
                display: block;
            }

            list-style: none;
            overflow: hidden;
            position: relative;
            text-align: center;
            transition: all 0.25s;

            &:hover {
                flex: 1 1 60%;

                div {
                    bottom: 0;
                    opacity: 1;
                    transition: all 0.25s;
                }
            }

            div {
                background: rgba(0, 0, 0, 0.8);
                color: white;
                padding: 1rem 0;
                width: 100%;

                @include pos(absolute, $bottom: -100%);
            }

            @include size(100%, 25%);
        }
    }

    @include for-desktop {
        @include size(60%, 100%);
    }

    @include size(50%, 100%);
}