* {
    box-sizing: border-box;
    max-width: 100vw;
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;

    @include size(100%, 100%);
}

body {
    background-color: black;
    color: white;
    font-family: "Montserrat";
}

#top-fade {
    @include size(10rem, 100%);

    background-image: linear-gradient(#191919 0%, transparent 100%);
    display: none;
    pointer-events: none;
    position: fixed;
    top: 0;
    z-index: 99;
}

// Background
#hexagons {
    animation: fadeIn100 1s;
    display: none;
}

.hexagon {
    opacity: 0.1;
    position: fixed;

    &:first-child {
        animation: float1 10s ease-in-out alternate infinite;
        left: 20%;
        top: 25%;
        width: 2rem;
    }

    &:nth-child(2) {
        animation: float2 16s ease-in-out alternate infinite;
        left: 40%;
        top: 20%;
        width: 3rem;
    }

    &:nth-child(3) {
        animation: float3 12s ease-in-out alternate infinite;
        bottom: 30%;
        right: 20%;
        width: 5rem;
    }

    &:nth-child(4) {
        animation: float4 8s ease-in-out alternate infinite;
        left: 10%;
        bottom: 10%;
        width: 4rem;
    }
}

.page {
    @include size(100vh, 100vw);

    display: none;
    position: relative;
}

.page-content {
    @include flex(column, $justify-content: center);
    @include size(100%);

    display: none;
    margin: 0 15px;
    position: relative;
    z-index: 2;

    @include for-desktop {
        align-items: flex-start;
        margin: 0 auto;
        max-width: 1140px;
    }
}