#menu {
    @include size(100%, 100%);

    display: none;
    position: fixed;
    flex-direction: column;
    font-family: "Atami Stencil";
    font-weight: bold;
    right: -100%;
    z-index: 999;

    @include for-desktop {
        flex-direction: row;
    }
}

.menu-half {
    @include flex($align: center, $justify: center);
}

#close-btn {
    @include flex();
    @include pos(absolute, 2rem, 2rem);
    @include size(5rem, 5rem);

    cursor: pointer;
    opacity: 0.25;
    transition: all 0.25s;

    &::before {
        @include size(4rem, 4rem);

        content: "";
        border: 6px solid white;
        opacity: 0;
        transform: scale(0);
        transition: all 0.25s;
    }

    &:hover,
    :active {
        opacity: 1;

        &::before {
            opacity: 1;
            transform: scale(1);
        }
    }

    @include for-desktop {
        right: 5rem;
        top: 5rem;
    }
}

.close-btn-x {
    @include size(3rem, 0.5rem);

    background-color: white;
    border-radius: 0.1rem;
    display: inline-block;
    position: absolute;

    &:first-child {
        transform: rotate(45deg);
    }

    &:nth-child(2) {
        transform: rotate(-45deg);
    }
}

#menu-left {
    background-color: transparent;
    display: none;
    margin-bottom: 100%;
    top: -50%;

    @include for-desktop {
        display: flex;
        width: 50%;
    }
}

#content-menu-left {
    @include flex($justify: center);

    width: 75%;
}

#menu-right {
    @include size(100%, 100%);

    background-color: black;

    @include for-desktop {
        @include size(100%, 50%);
    }
}

#bg-num {
    color: $red;
    font-size: 20rem;
    position: absolute;
    user-select: none;
}

#sections {
    li {
        font-size: 2rem;
        margin: 2rem;
        text-align: center;
        transition: all 0.25s;

        &:active {
            a {
                color: $red;
            }
        }

        // #sections li
        @include for-desktop {
            font-size: 3.5rem;
            margin: 1rem;
            text-align: initial;
            transition: all 0.25s;

            // Hovered section indicator
            &::before {
                @include pos(absolute, 50%);
                @include size(1rem, 1rem);

                background-color: $red;
                border-radius: 0.1rem;
                content: "";
                display: inline-block;
                opacity: 0;
                transition: all 0.25s;
            }

            &:hover {
                filter: none;
                transform: translateX(3rem);

                &::before {
                    opacity: 1;
                }
            }
        }
    }

    // #sections
    @include for-desktop {
        // On hover, all section names are darkened
        &:hover {
            li {
                filter: brightness(10%);
            }
        }

        // ... except the hovered one
        li {
            &:hover {
                filter: none;
            }
        }
    }
}

.section-name {
    user-select: none;

    @include for-desktop {
        padding-left: 2rem;
    }
}

time {
    @include pos(absolute, $bottom: 10%);

    font-family: "Montserrat";
    font-size: 2rem;
    opacity: 0.1;
    position: absolute;

    @include for-desktop {
        
    }
}