// Éléments de l'interface fixed
#upper-left {
    @include pos(fixed, 2rem, $left: 2rem);
    @include size(3.5rem, 3rem);

    display: flex;
    flex-direction: column;
    z-index: 998;

    @include for-desktop {
        left: 3rem;
        top: 3rem;
    }
}

#logo-loader {
    @include pos(fixed, 50%, $left: 50%);

    animation: fadeIn25 1s 0.5s forwards;
    opacity: 0;
    transform: translate(-50%, -50%);
    width: 5rem;
}

#actual-page {
    animation: fadeIn100 1s;
    display: none;
}

#separator {
    @include size(100%, 0.25rem);

    background-color: rgba($color: red, $alpha: 0.5);
    border-radius: 0.1rem;
    margin-left: 150%;
    position: absolute;

    @include for-desktop {
        margin-left: 200%;
    }
}

#page-name {
    font-family: "Atami Stencil";
    font-weight: bold;
    font-size: 1.75rem;
    line-height: 3.5rem;
    margin-left: 200%;
    position: absolute;

    @include for-tablet {
        font-size: 2rem;
    }

    @include for-desktop {
        font-size: 2.5rem;
        margin-left: 300%;
    }
}

polygon.st1 {
    animation: fadeIn100 0.5s ease 1s alternate forwards;
    opacity: 0;
}

.circle {
    @include pos(fixed, 3rem, $left: 3rem);
    @include size(3rem, 3rem);

    background-color: #191919;
    border-radius: 50%;
    display: inline-block;
    opacity: 0;
}

#burger {
    @include pos(fixed, 2.5rem, 2rem);
    @include size(2.25rem);

    animation: fadeIn100 1s forwards;
    cursor: pointer;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0.5rem;
    z-index: 998;

    &:hover,
    :active {
        #bar1,
        #bar2,
        #bar3 {
            background-color: white;
            transform: translateX(0);
        }
    }

    div {
        @include size(0.375rem, 2.25rem);

        background-color: rgba($color: white, $alpha: 0.25);
        border-radius: 0.1rem;
        transition: all 0.25s;
    }

    #bar1,
    #bar3 {
        transform: translateX(-0.5rem);
    }

    #bar2 {
        transform: translateX(0.5rem);
        transition: all 0.25s;
    }

    @include for-desktop {
        right: 3rem;
        top: 3rem;
    }
}

#nav {
    @include pos(fixed, 50%, 3rem);

    display: none;
    flex-direction: column;
    transform: translate(-50%, -50%);
    z-index: 998;

    li {
        @include size(1rem, 1rem);

        animation: fadeIn25 1s;
        background-color: white;
        border-radius: 0.1rem;
        margin: 0.5rem 0;
        opacity: 0.25;
        transition: all 0.25s;

        @for $i from 1 through 5 {
            &:nth-child(#{$i}) {
                animation-delay: $i * 0.25s;
            }
        }

        &:hover {
            opacity: 1;
        }
    }

    a {
        @include size(100%, 100%);

        color: $red;
        display: block;
    }
}

.current {
    background-color: $red;
}