@font-face {
    font-family: "Atami Stencil";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Atami-Stencil.otf");
}

@font-face {
    font-family: "Atami Stencil";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/Atami-Stencil-Bold.otf");
}

a {
    color: white;
    text-decoration: none;
    transition: all 0.25s;
}

ul {
    list-style: none;
}

.crossed {
    color: $grey;
    text-decoration: line-through;
}

.line {
    @include size(6px, 6rem);

    animation: fadeIn100 0.75s 1.5s ease-out forwards;
    background-color: $red;
    border-radius: 0.1rem;
    display: block;
    margin: 1rem auto 1.5rem auto;
    opacity: 0;

    @include for-desktop {
        margin: 1rem 0 1.5rem 0;
    }
}

// https: //www.youtube.com/watch?v=HnkxDmF6luc
.line-anim {
    position: relative;

    &::after {
        @include size(105%, 0);

        animation: line-anim 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
        background: white;
        content: '';
        left: 0;
        position: absolute;
        top: 0;
    }

    span {
        animation: appear-text 0.1s forwards;
        animation-delay: 1s;
        opacity: 0;
    }
}

.social-media {
    animation: fadeIn100 0.75s forwards;
    margin-top: 1.5rem;
    opacity: 0;
    width: max-content;

    span {
        align-items: center;
        display: inline-flex;
        margin-right: 0.5rem;
        transition: all 0.25s;

        @include for-desktop {
            opacity: 0.25;

            &:hover {
                opacity: 1;
            }
        }
    }
}

.diagonal-line {
    animation: fullWidth 2s;
    background-color: red;
    display: none;
    height: 1rem;
    position: absolute;
    transform: skewY(11deg);
    width: 100vw;
}