@font-face {
    font-family: "Atami Stencil";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Atami-Stencil.otf");
}

@font-face {
    font-family: "Atami Stencil";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/Atami-Stencil-Bold.otf");
}

a {
    color: white;
    text-decoration: none;
    transition: all 0.25s;
}

ul {
    list-style: none;
}

.crossed {
    color: $grey;
    text-decoration: line-through;
}

// https: //www.youtube.com/watch?v=HnkxDmF6luc
.line-anim {
    position: relative;

    &::after {
        @include size(105%, 0);

        animation: line-anim 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
        background: white;
        content: '';
        left: 0;
        position: absolute;
        top: 0;
    }

    span {
        animation: appear-text 0.1s forwards;
        animation-delay: 1s;
        opacity: 0;
    }
}