#about {
    .line-anim {
        @include size($width: max-content);
    }
}

#about-content {
    @include flex(column, center, space-around);

    display: none;

    div {
        &#text-me {
            // width: 30%;

            &::after {
                @include size(100%);

                background-color: $red;
                content: "";
                width: 6px;
            }
        }

        // &#skills {
        //     width: 60%; 
        // }
    }

    @include for-desktop {
        flex-direction: row;

        div {
            &#text-me {
                width: 35%;

                &::after {
                    @include size(100%);

                    background-color: $red;
                    content: "";
                    width: 6px;
                }
            }

            &#skills {
                width: 60%;
            }
        }
    }
}

#diagonal-about {
    background-color: red;
    display: none;
    height: 10rem;
    position: absolute;
    transform: skewY(11deg);
    width: 100vw;

    @include for-tablet {
        display: block;
    }
}

#text-me {
    .line-anim {
        &::after {
            animation-delay: 0.25s;
        }
    }
}

#summary-me {
    animation: slideLeft 0.5s 1s forwards;
    color: $grey;
    opacity: 0;

    // span {
    //     color: red;

    //     &:first-child {
    //         &::after {
    //             content: " / ";
    //         }
    //     }
    // }
}

#about-me {
    animation: slideLeft 0.5s 1.5s forwards;
    line-height: 1.5rem;
    margin: 1rem 0;
    opacity: 0;
    word-spacing: 0.2rem;

    ul {
        font-size: 0.9rem;
        margin: revert;
        padding: revert;
    }
}

#resume-btn {
    border: 0;
    height: 2.5rem;
    width: 7.5rem;
}

#skills {
    .line-anim {
        &::after {
            animation-delay: 0.75s;
        }
    }
}

// #skills-list {

// }

.skills-title {
    display: inline-block;
    margin: 0.67rem 0;
}

// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!
.skill-category {
    // @include size(15px, 200px);

    // margin-bottom: 25px;

    // div {
    //     background-color: white;
    //     height: 100%;
    //     width: 50%;

    //     div {
    //         background-color: $red;
    //         height: 100%;
    //     }
    // }

    display: inline-flex;
    flex-wrap: wrap;
}

.skill {
    background-color: $red;
    display: inline-block;
    margin: 0 0.5rem 0.5rem 0;
    padding: 0.5rem;
}


#alain {
    color: $red;
    font-weight: bold;
    text-shadow: 1px 1px black;
}