#about {
    // height: auto;

    .line-anim {
        width: max-content;
    }

    @include for-desktop {
        height: 100vh;
    }
}

#about-content {
    @include flex(column, center, space-around);

    display: none;

    @include for-desktop {
        flex-direction: row;

        div {
            &#text-me {
                width: 35%;
            }

            &#skills {
                width: 60%;
            }
        }
    }
}

#center-content {
    @include flex(column, flex-start, space-between);

    @include for-desktop {
        @include flex(row, flex-start, space-between);
    }
}

#text-me {
    .line-anim {
        &::after {
            animation-delay: 0.25s;
        }
    }
}

#summary-me {
    animation: slideLeft 0.5s 0.75s forwards;
    color: $grey;
    opacity: 0;

    // span {
    //     color: red;

    //     &:first-child {
    //         &::after {
    //             content: " / ";
    //         }
    //     }
    // }
}

#about-me {
    animation: slideLeft 0.5s 1.25s forwards;
    line-height: 1.5rem;
    margin: 1rem 0;
    opacity: 0;
    word-spacing: 0.2rem;

    ul {
        font-size: 0.9rem;
        margin: revert;
        padding: revert;
    }

    &::after {
        content: "";
    }
}

.line-cv {
    animation: fadeIn100 0.5s 1.5s forwards;
    display: none;
    opacity: 0;

    @include for-desktop {
        display: block;
    }
}

#download-cv {
    animation: fadeIn100 0.5s 1.5s forwards;
    background: #191919;
    border-radius: 0.1rem;
    box-shadow: 5px 5px 10px #151515, -5px -5px 10px #1d1d1d;
    height: 2.5rem;
    margin: 1rem 0;
    opacity: 0;
    position: relative;

    &:hover {
        background: linear-gradient(145deg, #1b1b1b, #171717);

        a {
            color: $grey;
        }
    }

    &:active {
        box-shadow: inset 5px 5px 10px #151515,
        inset -5px -5px 10px #1d1d1d;

        a {
            color: #191919;
        }
    }

    a {
        @include size(100%, 100%);

        // color: black;
        display: inline-block;
        line-height: 2.5rem;
        position: absolute;
        text-align: center;
        transition: all 0.25s;
    }

    @include for-tablet {
        width: 33%;
    }

    @include for-desktop {
        margin: 1rem auto;
        width: 75%;
    }
}

#skills {
    .line-anim {
        &::after {
            animation-delay: 0.5s;
        }

        span {
            animation-delay: 1s;
        }
    }
}

#skills-list {
    animation: slideLeft 0.5s 1.5s forwards;
    opacity: 0;
}

.skills-title {
    display: inline-block;
    margin: 0.67rem 0;
}

// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!
.skill-category {
    // @include size(15px, 200px);

    // margin-bottom: 25px;

    // div {
    //     background-color: white;
    //     height: 100%;
    //     width: 50%;

    //     div {
    //         background-color: $red;
    //         height: 100%;
    //     }
    // }

    display: inline-flex;
    flex-wrap: wrap;
}

.skill {
    background: $red;
    border-radius: 0.1rem;
    box-shadow: 5px 5px 10px #151515, -5px -5px 10px #1d1d1d;
    display: inline-block;
    font-size: 0.8rem;
    margin: 0 0.5rem 0.5rem 0;
    padding: 0.5rem;

    @include for-tablet {
        font-size: 1rem;
    }
}


#alain {
    color: $red;
    font-weight: bold;
    text-shadow: 1px 1px black;
}