#contact {
    .social-media {
        animation-delay: 0.5s;
    }
}

#contact-content {
    @include size($width: 100%);

    align-items: center;
    display: none;
}

.diagonal-box-contact {
    @include flex($align-items: center);
    @include size(50%, 100vw);

    animation: fullWidth 1s;
    background-color: rgba($color: black, $alpha: 0.25);
    overflow: hidden;
    transform: skewY(11deg);
}

.diagonal-content-contact {
    @include flex(column, center, space-between);

    height: 10rem;
    transform: skewY(-11deg);

    h1 {
        margin: 0;
    }
}

#copyright {
    @include pos(absolute, $bottom: 1rem, $left: 50%);

    font-size: 0.8rem;
    transform: translateX(-50%);
}