// Section "contact"
#contact {
    .social-media {
        animation-delay: 0.5s;
    }
}

#contact-content {
    align-items: center;
    display: none;
    width: 100%;
}

.diagonal-box-contact {
    @include flex($align: center);
    @include size(50%, 100%);

    background-color: rgba($color: black, $alpha: 0.25);
    overflow: hidden;

    h1 {
        font-size: 1.2rem;
    }

    @include for-tablet {
        animation: fullWidth 1s;
        transform: skewY(11deg);
        width: 100vw;
    }
}

.diagonal-content-contact {
    @include flex(column, center, space-between);

    animation: fadeIn100 0.5s 0.75s forwards;
    height: 10rem;
    opacity: 0;
    text-align: center;

    h1 {
        margin: 0;
    }

    p {
        font-size: 0.8rem;
    }

    @include for-tablet {
        transform: skewY(-11deg);
    }
}

#copyright {
    @include pos(absolute, $bottom: 1rem, $left: 50%);

    font-size: 0.8rem;
    transform: translateX(-50%);
}