// Section "accueil"
#home {
    background-color: initial;
    color: white;
    position: relative;

    .line-anim {
        &::after {
            animation-delay: 0.5s;
        }
    }

    .social-media {
        animation-delay: 2s;
    }
}

#info-me {
    @include flex(column, center);
    @include pos(absolute, $bottom: 25%);
    
    width: 100%;

    p {
        text-shadow: 0 1px #191919;
    }

    @include for-desktop {
        align-items: flex-start;
        margin-left: 10%;
        width: max-content;
    }
}

#name {
    animation: appear-text 0.1s 1s forwards;
    font-family: "Atami Stencil";
    font-size: 2.5rem;
    font-weight: bold;
    opacity: 0;

        // &::before {
        //     background-color: cyan;
        //     content: "";
        //     display: inline-block;
        //     height: 0.25rem;
        //     position: absolute;
        //     width: 100%;
        // }

    @include for-desktop {
        font-size: 5rem;
    }
}

#occupation {
    animation: slideUp 0.5s 1s forwards;
    font-weight: normal;
    opacity: 0;
}

#message {
    @include flex(column, center);

    animation: fadeIn100 0.75s 1.5s forwards;
    display: flex;
    margin-top: 5rem;
    opacity: 0;
    width: 100%;

    p {
        width: max-content;
    }

    @include for-desktop {
        align-items: flex-start;
    }
}

#profile-pic {
    @include size(100%, 100%);

    animation: fadeIn10 5s;
    background-attachment: fixed;
    background-image: url("/img/pham.png");
    background-position: 60% center;
    background-repeat: no-repeat;
    background-size: contain;
    clip-path: polygon(100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
    filter: brightness(50%);
    opacity: 0.1;
    position: absolute;
    z-index: -1;
}

#scroll-indicator {
    @include flex($align: flex-start, $justify: center);
    @include pos(absolute, $bottom: 3rem, $left: 50%);
    @include size(2.5rem, 1.5rem);

    animation: fadeIn25 1s forwards;
    border: 0.15rem solid white;
    border-radius: 1rem;
    cursor: pointer;
    transform: translateX(-50%);
}

#scroll-wheel {
    @include size(0.5rem, 0.5rem);

    animation: scrollIndicator 2.5s infinite;
    background-color: white;
    border-radius: 50%;
}