.game-popup {
    background-color: rgba($color: #000000, $alpha: 0.95);
    left: 0;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.popup-content {
    @include flex();
    @include size(100%, 100%);
}

.popup-body {
    @include flex();
    @include size(50%, 50%);

    #game-img {
        @include size(100%, 30%);
        background-size: cover;
        background-image: url("/img/creation/creation1.jpg");
        background-position: center;
        display: none;
        margin-right: 15px;
        flex: 1;

        @include for-desktop {
            display: block;
        }
    }

    .game-info {
        flex: 2;
    }

    #game-team {
        font-style: italic;
    }

    #game-other {
        font-family: monospace;
        font-weight: bold;
        transition: all 0.1s;

        &:hover {
            color: cyan;
        }
    }

    #game-btn {
        background-color: cyan;
        margin: 15px 0;
        padding: 15px;
        transition: all 0.1s;
        width: fit-content;

        &:hover {
            background-color: #660000;
        }
    }

    .game-margin {
        margin: 15px 0;
    }
}