#portfolio-content {
    display: none;

    @include for-desktop {
        align-items: center;
    }
}

#portfolio-title {
    animation: revealSection 1s 0.25s cubic-bezier(0, 1, 1, 1) forwards;
    font-size: 3.5rem;
    font-weight: bold;

    @include for-desktop {
        font-size: 8rem;
    }
}

// https://www.youtube.com/watch?v=a7ICxQblYrM
#projects {
    @include pos($position: relative);
    @include size(50%, 100%);

    animation: slideUp 1s forwards;
    // display: flex;
    display: none;
    opacity: 0;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;

    // &::after {
    //     @include pos(absolute, $top: -2.5rem, $left: 2rem);
    //     @include size(max-content, max-content);

    //     content: "games";
    //     font-size: 3.5rem;
    //     font-weight: bold;
    //     text-shadow: -3px 3px black;
    // }

    .slide {
        @include flex($align-items: center);
        @include size(100%, 100%);

        flex-shrink: 0;
        scroll-snap-align: start;

        &#slide-1 {
            background: url("/img/games/game1.jpg");
            background-position: center;
            background-size: cover;
        }

        &#slide-2 {
            background: url("/img/games/game2.jpg");
            background-position: center;
            background-size: cover;
        }

        &#slide-3 {
            background: url("/img/games/game3.jpg");
            background-position: center;
            background-size: cover;
        }

        &#slide-4 {
            background: url("/img/games/game4.jpg");
            background-position: center;
            background-size: cover;
        }

        &:hover {
            .diagonal-box {
                width: 100%;
            }
        }
    }

    .diagonal-box {
        display: none;
    }

    @include for-desktop {
        width: 100%;

        &:hover {
            .slide {
                flex: 1 1 13.33%;
            }

            .game-name {
                font-size: 600%;
            }
        }

        .slide {
            @include size(100%, 25%);

            list-style: none;
            overflow: hidden;
            position: relative;
            text-align: center;
            transition: all 0.25s;

            &:hover {
                flex: 1 1 60%;
            }
        }

        .diagonal-box {
            @include flex($align-items: center);
            @include size(50%, 0);

            background-color: rgba($color: #000000, $alpha: 0.5);
            display: flex;
            overflow: hidden;
            transform: skewY(-11deg);
            transition: all 0.25s;
        }

        .diagonal-content {
            margin: 0 auto;
            transform: skewY(11deg);
        }

        .game-name {
            font-size: 3rem;
            opacity: 0.65;
            transition: all 0.25s;
        }
    }
}

#projects-2 {
    @include flex(row, $align-items: flex-start);
    @include pos($position: absolute);
    @include size(50%, 100%);

    // background-color: red;
    flex-wrap: wrap;
}

.preview {
    @include flex(row, center, center);
    @include size(50%, 25%);

    border: 1px solid green;

    &#preview-1 {
        background-image: url("/img/");
    }

    &#preview-2 {}

    &#preview-3 {}

    &#preview-4 {}

    &#preview-5 {}

    &#preview-6 {}

    &#preview-7 {}

    &#preview-8 {}

    @include for-desktop {
        @include size(285px, 285px)
    }
}

// #categories {
//     margin: 0 auto;
// }