#portfolio-content {
    display: none;

    @include for-desktop {
        align-items: center;
    }
}

#portfolio-title {
    animation: revealSection 1s 0.25s cubic-bezier(0, 1, 1, 1) forwards;
    font-size: 3.5rem;
    font-weight: bold;

    @include for-desktop {
        font-size: 8rem;
    }
}

#games-title {
    font-size: 3rem;
    letter-spacing: 0.5rem;
}

// https://www.youtube.com/watch?v=a7ICxQblYrM
#projects {
    @include pos($position: relative);
    @include size(60%, 100%);

    animation: slideUp 1s forwards;
    display: none;
    opacity: 0;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;

    .slide {
        @include flex($align: center);
        @include size(100%, 100%);

        background-position: center;
        background-size: cover;
        flex-shrink: 0;
        scroll-snap-align: start;

        &#slide-1 {
            background: url("/img/games/game1.jpg");
            background-position: center;
            background-size: cover;
        }

        &#slide-2 {
            background: url("/img/games/game2.jpg");
            background-position: center;
            background-size: cover;
        }

        &#slide-3 {
            background: url("/img/games/game3.jpg");
            background-position: center;
            background-size: cover;
        }

        &#slide-4 {
            background: url("/img/games/game4.jpg");
            background-position: center;
            background-size: cover;
        }

        &:hover {
            .diagonal-box {
                width: 100%;
            }
        }
    }

    .diagonal-box {
        display: none;
    }

    @include for-desktop {
        width: 100%;

        &:hover {
            .slide {
                filter: brightness(10%);
                flex: 1 1 13.33%;
            }

            .game-name {
                font-size: 600%;
            }
        }

        .slide {
            @include size(100%, 25%);

            list-style: none;
            overflow: hidden;
            position: relative;
            text-align: center;
            transition: all 0.25s;

            &:hover {
                filter: none;
                flex: 1 1 60%;
            }
        }

        .diagonal-box {
            @include flex($align: center);
            @include size(50%, 0);

            background-color: rgba($color: #000000, $alpha: 0.5);
            overflow: hidden;
            transform: skewY(-11deg);
            transition: all 0.25s;
        }

        .diagonal-content {
            margin: 0 auto;
            transform: skewY(11deg);
        }

        .game-name {
            font-size: 3rem;
            opacity: 0.65;
            transition: all 0.25s;
        }
    }
}

#projects-2 {
    @include flex(row, $align: flex-start);
    @include pos($position: absolute, $right: -100vw);
    @include size(50%, 100%);

    // display: none;
    flex-wrap: wrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    // width: 100%;
}

.preview {
    @include flex(row, center, center);
    @include size(150px, 150px);

    background-size: cover;

    &#preview-1 {
        background-image: url("/img/creation/creation1.jpg");
        background-position: 85%;
    }

    &#preview-2 {
        background-image: url("/img/creation/creation2.jpg");
    }

    &#preview-3 {
        background-image: url("/img/creation/creation3.jpg");
    }

    &#preview-4 {
        background-image: url("/img/creation/creation4.jpg");
    }

    &#preview-5 {
        background-image: url("/img/creation/creation5.jpg");
        background-position: center;
    }

    &#preview-6 {
        background-image: url("/img/creation/creation6.jpg");
        background-position: 33%;
    }

    &#preview-7 {
        background-image: url("/img/creation/creation7.jpg");
        background-position: 25%;
    }

    &#preview-8 {
        background-image: url("/img/creation/creation8.jpg");
        background-position: right;
        flex: 1;
    }
    
    @include for-tablet {
        @include size(240px, 240px);
    }

    @include for-big-desktop {
        @include size(285px, 285px)
    }
}