// https://www.youtube.com/watch?v=a7ICxQblYrM
#projects {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;

    .slide {
        flex-shrink: 0;
        scroll-snap-align: start;

        &#slide-1 {
            background: url("/img/game1.jpg");
            background-position: center;
            background-size: cover;
        }

        &#slide-2 {
            background: url("/img/game2.jpg");
            background-position: center;
            background-size: cover;
        }

        &#slide-3 {
            background: url("/img/game3.jpg");
            background-position: center;
            background-size: cover;
        }

        &#slide-4 {
            background: url("/img/game4.jpg");
            background-position: center;
            background-size: cover;
        }

        &:hover {
            .diagonal-box {
                width: 100%;
            }
        }

        @include flex($align-items: center);
        @include size(100%, 100%);
    }

    .diagonal-box {
        display: none;
    }

    @include for-desktop {
        width: 100%;

        &:hover {
            .slide {
                flex: 1 1 13.33%;
            }

            .game-name {
                font-size: 600%;
            }
        }

        .slide {
            list-style: none;
            overflow: hidden;
            position: relative;
            text-align: center;
            transition: all 0.25s;

            &:hover {
                flex: 1 1 60%;
            }

            @include size(100%, 25%);
        }

        .diagonal-box {
            background-color: rgba(0, 0, 0, 0.5);
            display: block;
            overflow: hidden;
            transform: skewY(-11deg);
            transition: all 0.25s;

            @include flex($align-items: center);
            @include size(50%, 0);
        }

        .diagonal-content {
            margin: 0 auto;
            // max-width: 50em;
            transform: skewY(11deg);
        }

        .game-name {
            font-size: 3rem;
            opacity: 0.5;
            transition: all 0.25s;
        }
    }

    @include size(50%, 100%);
}

#categories {
    margin: 0 auto;
}